body {
	background-image: url(img/sky-dark-light-clouds.jpg);
	object-fit: contain;    
	-webkit-background-size: cover;     
	-moz-background-size: cover;    
	-o-background-size: cover;    
	background-size: cover;            
	flex: 1;     
}
.font-weight-bold {
	font-weight: 700;
}
.weather-container {
	padding-top: 20px;
}

.celsius {
	font-size: 7rem;
	letter-spacing: -4px;
}
.weather-country {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1.2rem;
}
.weather-condition {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.city-info {
	background-color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}